<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person</title>
</head>
<body>

	<p th:text="${person.getName() + ', ' + person.getYear()}"></p>

	<hr />

	<div th:if="${takenBooks.size()==0}">
		<p>No books is taken</p>
	</div>

	<div th:if="${takenBooks.size()!=0}">
		<p>Books:</p>
		<div th:each="book : ${takenBooks}">
			<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
		</div>
	</div>

	<hr />

	<form th:method="GET"
		th:action="@{/people/{id}/edit(id=${person.getId()})}">
		<input type="submit" value="Edit" />
	</form>

	<form th:method="DELETE"
		th:action="@{/people/{id}(id=${person.getId()})}">
		<input type="submit" value="Delete" />
	</form>

</body>
</html>